:root[data-has-hero] {
  --l-content-pad-x: 1.5rem;
  --l-footer-height: 3rem;

  --l-min-content-height: calc(
    100vh
    - var(--sl-nav-height)
    - var(--l-footer-height)
  );
}

:root[data-has-hero] .main-pane > main,
:root[data-has-hero] .main-pane > main > .content-panel {
  padding: 0;
}
:root[data-has-hero] .main-pane > main > .content-panel .sl-container {
  max-width: none;
}
:root[data-has-hero] .main-pane > main > .content-panel .sl-markdown-content {
  margin: 0;
}

/* Footer */
:root[data-has-hero] .main-pane > main > .content-panel footer.splash {
  height: var(--l-footer-height);
  padding-inline: var(--sl-nav-pad-x);
}

/* 404 page */
:root[data-has-hero] .main-pane > main > .content-panel div.hero {
  padding: 0 var(--l-content-pad-x);
  min-height: var(--l-min-content-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
:root[data-has-hero] .main-pane > main > .content-panel div.hero .copy {
  align-items: flex-start;
}
:root[data-has-hero] .main-pane > main > .content-panel div.hero .tagline {
  color: var(--color-text-secondary);
  text-align: left;
}