---
import Layout from "../layouts/Layout.astro"

---

<Layout title="términos de servicio">
  <main>
    <h1>¡Gracias por tu interés!</h1>
    <p>Te informaremos cuando el primer contenido sea liberado</p>
  </main>
</Layout>
<script>
  import JSConfetti from 'js-confetti'

const jsConfetti = new JSConfetti()

jsConfetti.addConfetti()
</script>
<style>
  main {
   color: aliceblue
  }
  .rust-color {
		color: #E67F0E;
	}
</style>