---
import Layout from "../layouts/Layout.astro"
---

<Layout title="términos de servicio">
  <main>
    <h1>Términos de servicio</h1>
    <p>Al compartir tus datos con nosotros, aceptas nuestros términos de servicio.</p>
    <p>El correo electrónico que nos proporciones será utilizado para enviarte información relevante sobre <span class="rust-color"> rustforjsdevs.com</span></p>
    <p>No se compartirá tu información con terceros.</p>
    <p>No se enviará spam.</p>
    <p>No se enviarán correos electrónicos no solicitados.</p>
    <p>Si deseas darte de baja de nuestra lista de correos, puedes hacerlo en cualquier momento enviando un correo a</p>
    <p>davidhuertasortiz@gmail.com con el asunto "Darme de baja | rustforjsdevs.com ".</p>
    <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
  </main>
</Layout>
<style>
  main {
   color: aliceblue
  }
  .rust-color {
		color: #E67F0E;
	}
</style>