<div class="sl-banner">
  <div class="sl-banner-content">
    <p>This website is being built. Want to help? Open an issue or a pull request on <a href="https://github.com/ikurotime/rust-for-js-devs">GitHub</a>.</p>
  </div>
</div>

<style>
  .sl-banner {
    background-color: #1F2937;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sl-banner a {
    color: white;
    text-decoration: underline;
  }
</style>
