---


const { lang } = Astro.locals.starlightRoute;

const isSpanish = lang === 'es';

const message = isSpanish ? 'Este sitio web está en construcción. ¿Quieres ayudar? Abre un issue o un pull request en <a href="https://github.com/ikurotime/rust-for-js-devs">GitHub</a>.' : 'This website is being built. Want to help? Open an issue or a pull request on <a href="https://github.com/ikurotime/rust-for-js-devs">GitHub</a>.';

---

<div class="sl-banner">
  <div class="sl-banner-content">
    {isSpanish ? <p>Estamos trabajando en la traducción a español. ¿Quieres ayudar? Abre un issue o un pull request en <a href="https://github.com/ikurotime/rust-for-js-devs">GitHub</a>.</p> : <p>We are working on this site. Want to help? Open an issue or a pull request on <a href="https://github.com/ikurotime/rust-for-js-devs">GitHub</a>.</p>}
  </div>
</div>

<style>
  .sl-banner {
    background-color: #1F2937;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sl-banner a {
    color: white;
    text-decoration: underline;
  }
</style>
